<div class="col-md-3 column boxA" >

	<a href="#/clientes">
		<i class="fa fa-check-circle-o fa-3x"></i> </br> 
		Clientes do Dia </br>
		( {{cliDia}} )
	</a>
						
</div>

<div class="col-md-3 column boxB" >
	<a href="#/clientes"><i class="fa fa-phone fa-3x"></i> </br> Clientes Retonar</a>
						
</div>

<div class="col-md-3 column boxC" >
	<a href="#/clientes"><i class="fa fa-minus-circle fa-3x"></i> </br> Clientes sem Contato</a>
						
</div>

<div class="col-md-3 column boxD" >	
	<a href="#/clientes"><i class="fa fa-user-plus fa-3x"></i> </br> Novos Clientes</a>
						
</div>